/*
  Google Fonts
  https://fonts.google.com/specimen/Righteous
*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");


html {
    font-family: fantasy;
    color: black;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

main.result-place {
    padding-bottom: 0%;
    display: flex;




}

header {
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: beige;
    display: grid;
    gap: 15px;
    margin: 10px auto;
    width: 90%;
}


h3 {

    text-align: left;

}


.card {

    text-align: center;
    height: 20px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;




}

.bkgr-img {
    text-align: center;
    height: 0px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 200px;
    opacity: 0.5;


}



@media (max-width: 768px) and (max-width: 1279px) {

    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    main,
    .bkgr-img {
        display: grid;
        width: 677.6875px;
        padding: 25px;
        grid-template-columns: 1fr;
    }


}