html {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}


header {
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: beige;
    display: grid;
    gap: 15px;
    margin: 10px auto;
    width: 90%;
}


h3 {

    text-align: left;
}

.zipcode-detail {
    text-decoration: solid;
    text-align: center;
    background-color: darkgray;
    width: 32%;
    gap: 15px;
    overflow: hidden;

}